/* app styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.app_container {
  min-height: 100vh;
  height: 100%;
  width: 100%;

}

.app_form {
  padding: 0 6rem;
  margin-bottom: 1rem;
  background-image: url('./assets//bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button.ant-btn {
  padding: 1rem;
  background-color: #001529;
  color: #ffffff;
}

.ant-input {
  padding: 1rem;
  margin: 1rem;
  width: 20rem;
}